<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <style>
      .title {
        background-color: black;
        color: orange;
        padding: 30px 40px;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Home page</h1>
    <nav>
      <a href="/contacts.html">Contacts</a>
      <a href="/about.html">About</a>
    </nav>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
      aspernatur maxime iusto quas? Magnam accusamus consequuntur harum, magni
      illo, eveniet culpa vel quae itaque animi aut rerum laboriosam blanditiis
      amet sit! Consequatur expedita odit, consequuntur quibusdam magni ab vitae
      voluptatum qui minus labore doloribus est, aliquam obcaecati adipisci.
      Alias, dolor incidunt accusamus suscipit maiores voluptates perferendis,
      aut quia blanditiis nam omnis dignissimos hic repudiandae, eaque ipsam?
      Itaque distinctio officiis tempora praesentium ullam autem cumque impedit
      amet perspiciatis facilis culpa minus quidem, veritatis corrupti quasi cum
      reiciendis dolorem qui voluptatibus. Sint animi corrupti est sapiente,
      illum reprehenderit ut iure possimus repudiandae porro quasi nemo
      inventore itaque obcaecati laboriosam recusandae voluptatum consectetur
      quis nostrum officia nihil voluptate? Aperiam perferendis excepturi quam
      labore sunt unde perspiciatis, aspernatur laboriosam repellendus
      molestiae, ex nobis, ipsa harum sed repellat voluptates veniam accusantium
      vitae! Rem facilis porro eveniet? Animi officia consequatur, optio in
      dicta consequuntur dolores non!
    </p>
  </body>
</html>
